.me {
    text-align: center;
    font-size: 20px;
    font-family: 'Arial', 'Lucida Sans Regular', Verdana, sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-top: 5px;
}

.foe {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    margin-top: 5px;
}