.icon_pwd{
margin-right: 10px;
}
.icon_user{
  margin-right: 10px;
  }
body {
  background-color: #95b7ed;
}

/*
.centrar{
  width: 50%; /* Establece el ancho del div
  height: 50%; /* Establece la altura del div
  position: absolute; /* Establece la posición del div en la página
  top: 50%; /* Establece la distancia superior desde la parte superior de la página
  left: 50%; /* Establece la distancia izquierda desde la parte izquierda de la página
  transform: translate(-50%, -50%); /* Centra el div vertical y horizontalmente
}
*/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-position: center center;
}


.login-form {
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: auto auto auto auto;
  row-gap: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  max-width: 300px; /* Ajustar el ancho del formulario según sea necesario */
  width: 75%; /* Ajustar el ancho del formulario según sea necesario */
  margin: 100 100 100 100; /* Agregar estas propiedades */

  /*justify-self: center; */
  align-self: center;
}


.login-form h2 {
  margin-top:  0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 24px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.form-group label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 16px;
}

*/
.form-group small {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  text-align: right;
}

.form-group small a {
  color: #1E90FF;
  text-decoration: none;
}

.form-group small a:hover {
  color: #0080ff;
  text-decoration: underline;
  margin-top: 5px;
}
/*
button[type="submit"] {
  margin-top: 20px;
  /*padding: 20px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1E90FF;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #007FFF;
}
*/
