<body>
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <form class="form-container">
      <hr size="2" color="#000000" width="100%">
      <h1>Number Match</h1>
      <hr size="2" color="#000000" width="100%">
      <div style="margin-bottom: 20px; margin-top: 20px;">
        <a style="width: 200px;" class="btn btn-primary" (click)="requestGame()">Encontar Partida</a>
      </div>
      <div style="margin-bottom: 20px;">
        <button style="width: 200px;" class="btn btn-primary btn-lg">Partida Personalizada</button>
      </div>
      <div style="margin-bottom: 20px;">
        <a style="width: 200px;" href="/menuJuego" class="btn btn-danger">Volver</a>
      </div>
    </form>
  </div>
</body>
