<!--ALERTA 1: CONTRASEÑA INCORRECTA-->
<div *ngIf="this.getAlertService().getAlertType() == 403">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Se ha producidor un error. Revisa el nombre y contraseña</strong>
    <button style="margin-right: 10px;" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarAlerta()">
      <span   aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<!--ALERTA 2: LAS CONTRASEÑAS NO CONINCIDEN-->
<div *ngIf="this.getAlertService().getAlertType() == 406">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Se ha producidor un error. Las contraseñas no coinciden</strong>
    <button style="margin-right: 10px;" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarAlerta()">
      <span   aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<!--ALERTA 3: EL USUARIO YA SE HA REGISTRADO-->
<div *ngIf="this.getAlertService().getAlertType() == 409">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Se ha producido un error. Este usuario ya se ha registrado</strong>
    <button style="margin-right: 10px;" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarAlerta()">
      <span   aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<!--ALERTA 4: EL USUARIO  HA HECHO LOGOUT-->
<div *ngIf="this.getAlertService().getAlertType() == 1000">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Se ha cerrado correctamente la sesión</strong>
    <button style="margin-right: 10px;" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarAlerta()">
      <span   aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<!--ALERTA 5: Se ha iniciado correctamente la sesión-->
<div *ngIf="this.getAlertService().getAlertType() == 1001">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>¡Bienvenido!. Se ha iniciado correctamente la sesión</strong>
    <button style="margin-right: 10px;" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarAlerta()">
      <span   aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<!--ALERTA 6: CONTRASEÑA INCORRECTA-->
<div *ngIf= "this.getAlertService().getAlertType() == 1002">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Debes de Iniciar Sesión</strong>
    <button style="margin-right: 10px;" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarAlerta()">
      <span   aria-hidden="true">&times;</span>
    </button>
  </div>
</div>


<!--ALERTA 6: CONTRASEÑA INCORRECTA-->
<div *ngIf= "this.getAlertService().getAlertType() == 1003">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error con el servicio de pago, Intentelo más tarde</strong>
    <button style="margin-right: 10px;" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="eliminarAlerta()">
      <span   aria-hidden="true">&times;</span>
    </button>
  </div>
</div>